<h1>New Shipment</h1>
<%= form_for(@shipment) do |f| %>
  <div class="error_messages">
    <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being created:</h2>
    <ul>
      <% @shipment.error.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

    <!-- Can extract these fields_for sections to partials later -->
    <%= f.fields_for :to_address do |builder| %>
    <%= builder.label :street1, "Street 1" %>
    <% end %>

    <%= f.fields_for :from_address do |builder| %>
    <%= builder.label :street1, "Street 1" %>
    <% end %>

    <%= f.fields_for :parcel do |builder| %>
    <%= builder.label :weight, "Weight" %>
    <% end %>

<% end %>